html{
    background-color: darkgrey;
}
header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, red , yellow);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
